@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "Segoe";
    src: url("/fonts/Segoe.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Segoe";
    src: url("/fonts/Segoe\ Bold.ttf");
    font-weight: 600;
}


html,
button {
    font-family: "Segoe", "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #cecece;
}

.window {
    border: 4px outset #0055e5;
    border-radius: 10px 10px 0 0;
    margin-top: 42px;
}

.window>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 34px;
    background-color: #0055e5;
    color: #fff;
}

.window>div>h3 {
    margin-left: 12px;
    font-size: 14px;
    text-shadow: 0px 2px 2px rgb(0 0 0 / 50%);
}

.window>div>div {
    display: flex;
    flex-flow: row nowrap;
    font-weight: 600;
    margin-right: 4px;
}

.window>div>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 0 2px;
    background: rgb(255, 255, 255);
    background: linear-gradient(118deg, rgba(255, 255, 255, 1) 0%, rgba(0, 85, 229, 1) 28%);
}

.window>div>div>div:nth-child(1)>div {
    width: 40%;
    height: 70%;
    border-bottom: 3px solid #fff;
}

.window>div>div>div:nth-child(2)>div {
    align-items: flex-start;
    width: 60%;
    height: 60%;
    border: 1px solid #fff;
    border-top: 3px solid #fff;
}

.window>div>div>div:nth-child(3) {
    background: rgb(255, 255, 255);
    background: linear-gradient(118deg, rgba(255, 255, 255, 1) 0%, rgba(229, 0, 0, 1) 28%);
}

.window>div>div>div:nth-child(3) span {
    font-size: 12px;
}

.generator {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 600px;
    padding: 24px 42px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    background-color: #ecead9;
}

.generator h1 {
    margin: 10px 0 12px;
    font-size: 24px;
    font-weight: 600;
}

.generator h2 {
    margin: 24px 0 24px;
    font-size: 18px;
    font-weight: 600;
}

.generator>div {
    margin: 12px 0;
}

.generator label {
    display: block;
    width: 100%;
    margin: 12px 0;
}

.generator input {
    margin: 0 0 0 8px;
    border: 3px inset;
}

.button {
    position: relative;
    display: block;
    padding: 6px 24px;
    border-radius: 8px;
    border: 3px outset #0055e5;
    background-color: #0055e5;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    opacity: .8;
}

.popup {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ecead98b;
    color: #000;
    font-size: 16px;
}

.popup p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    min-width: 30%;
    padding: 36px 20px;
    border: 4px solid #0055e5;
    border-radius: 4px;
    background-color: #ecead9;
}

.popup button {
    margin: 24px 0 0;
}